.Local {    
    border: 1.5px solid #3BAEA2;
    box-sizing: border-box;
    border-radius: 9px;
}

.Local-header {
    border-bottom: 1.5px solid #3BAEA2;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    
    color: #A92B87;
}

label {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    color: #A92B87;
}